<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/notes"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/notes"
        android:supportsRtl="true"
        android:theme="@style/Theme.Notes"
        tools:targetApi="31">
        <activity
            android:name=".Class.Arhive"
            android:exported="false" />
        <activity
            android:name=".RecentlyDeletedNote"
            android:exported="false" />
        <activity
            android:name=".Class.Delete"
            android:exported="false" />
        <activity
            android:name=".Class.LocaleHelper"
            android:exported="false" />
        <activity
            android:name=".Class.SpravkaAndOzevs"
            android:exported="false" />
        <activity
            android:name=".Class.Settings"
            android:exported="false" />
        <activity
            android:name=".FolderDao"
            android:exported="false" />
        <activity
            android:name=".Adapter.FolderAdapter"
            android:exported="false" />
        <activity
            android:name=".GeterSrter.Folder"
            android:exported="false" />
        <activity
            android:name=".Class.FileActivity"
            android:exported="false" />
        <activity
            android:name=".Class.EditNoteActivity"
            android:exported="false" />
        <activity
            android:name=".Adapter.NoteAdapter"
            android:exported="false" />
        <activity
            android:name=".NoteDatabase"
            android:exported="false" />
        <activity
            android:name=".NoteDao"
            android:exported="false" />
        <activity
            android:name=".Note"
            android:exported="false" />
        <activity
            android:name=".Class.Noes_source"
            android:exported="false" />
        <activity
            android:name=".Class.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>